<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sleek Pricing Test Suite">
	
	<listeners>
        <listener class-name="commonUtils.ListnerITest"/>
    </listeners>
    <test name="Sleek Pricing Test Case">
		<classes>
			<class name="commonUtils.TestRunner"/>
		</classes>
	</test>
</suite>